<%- include('header') %>

    <body class="container mt-5">
        <h2 class="mb-4">Your Chatrooms</h2>

        <div>
            <% if (rooms && rooms.length> 0) { %>
                <p>You have <%= rooms.length %> chatroom(s).</p>
                <ul>
                    <% rooms.forEach(room=> { %>
                        <li>
                            <a href="/room/<%= room.room_id %>" class="btn btn-secondary">
                                <%= room.name %>
                                    <% if (room.unread_count> 0) { %>
                                        (<%= room.unread_count %> unread)
                                            <% } %>
                            </a>
                        </li>
                        <br>
                        <% }) %>
                </ul>
                <% } else { %>
                    <p>You have no chatrooms.</p>
                    <% } %>
        </div>

        <a href="/create-chatroom" class="btn btn-primary text-white mt-3">New Chat</a>
        <br><br>
        <a href="/" class="btn btn-secondary text-white">Home</a>
    </body>

    <%- include('footer') %>